# requirements.txt

# Web Framework - Using the latest 5.2 series
Django~=5.2

# Asynchronous task queue for Django
django-q2

# MySQL database driver for Python
# Required for connecting to a MySQL database
mysqlclient

# Production WSGI server (good practice)
gunicorn

python-dotenv

dj-database-url
setuptools
pillow