{% extends 'fleet_manager/layout.html' %}
{% load static %} {% load humanize %}


{% block body %}

<!-- Vehicle Summary -->
<div class="vehicle-summary">
  <h2>Vehicle Summary</h2><br>
  <table class="table">
    <thead>
      <tr>
        <th>Vehicle Type</th>
        <th>Count</th>
        <th>Total Cost</th>
      </tr>
    </thead>
    <tbody>
      {% for summary in vehicle_summary %}
      <tr>
        <td>{{ summary.vehicle_type }}</td>
        <td>{{ summary.count }}</td>
        <td>R{{ summary.total_cost|floatformat:2|intcomma }}</td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="3">No vehicle summary available.</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div><br>

<!-- Dashboard Cards -->
<div class="container mt-4">
  <div class="row">
    <!-- Financing Card -->
    <div class="col-md-4">
      <div class="card text-center shadow">
        <div class="card-body">
          <h5 class="card-title">Financing</h5>
          <hr>
          <img src="../../static/fleet_manager/images/finance.jpeg" alt="finance houses" style="width: 250px; height: 250px;"><br><br>
          <a href="#" class="btn btn-primary">View</a>
        </div>
      </div>
    </div>

    <!-- Licensing Card -->
    <div class="col-md-4">
      <div class="card text-center shadow">
        <div class="card-body">
          <h5 class="card-title">Licensing</h5>
          <hr>
          <img src="../../static/fleet_manager/images/licence-disc.jpg" alt="licence-disc" style="width: 250px; height: 250px"><br><br>
          <a href="#" class="btn btn-primary">View</a>
        </div>
      </div>
    </div>

    <!-- Accounting Card -->
    <div class="col-md-4">
      <div class="card text-center shadow">
        <div class="card-body">
          <h5 class="card-title">Accounting</h5>
          <hr>
          <img src="../../static/fleet_manager/images/recha-oktaviani-h2aDKwigQeA-unsplash.jpg" alt="licence-disc" style="width: 250px; height: 250px"><br><br>
          <a href="#" class="btn btn-primary">View</a>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}